/**
 * Beige theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
.reveal .slides {
  text-align: left; }

.reveal pre code {
  max-height: inherit; }

.reveal ::selection {
  background: #59afe1; }


@font-face {
  font-family: 'Circular Pro Black';
  src: url('/fonts/CircularPro-Black.eot');
  src: url('/fonts/CircularPro-Black.woff') format('woff'), url('/fonts/CircularPro-Black.ttf') format('truetype'), url('/fonts/CircularPro-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Pro Bold';
  src: url('../fonts/CircularPro-Bold.eot');
  src: url('../fonts/CircularPro-Bold.woff') format('woff'), url('../fonts/CircularPro-Bold.ttf') format('truetype'), url('../fonts/CircularPro-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Pro Medium';
  src: url('/fonts/CircularPro-Medium.eot');
  src: url('/fonts/CircularPro-Medium.woff') format('woff'), url('../fonts/CircularPro-Medium.ttf') format('truetype'), url('../fonts/CircularPro-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Pro Book';
  src: url('../fonts/CircularPro-Book.eot');
  src: url('../fonts/CircularPro-Book.woff') format('woff'), url('../fonts/CircularPro-Book.ttf') format('truetype'), url('../fonts/CircularPro-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  background-color: #fff;
}

::selection {
  color: white;
  background: rgba(79, 64, 28, 0.29);
  text-shadow: none;
}

.reveal {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #333333;
  font-family: Arial, sans-serif;
}

.reveal h1 {
  display: inline-block;
  margin: 0px;
  text-shadow: 0;
  font-family: 'Circular Pro Black';
  font-weight: bold;
  font-size: 2em;
  color: #205081;
  margin-bottom: 40px;
}

.reveal h2 {
  display: inline;
  margin: 0px;
  text-shadow: 0;
  font-family: 'Circular Pro Black';
  font-weight: bold;
  font-size: 2em;
  color: #666;
  margin-bottom: 40px;
}
.reveal h2:before {
  content: ":";
  padding-left: 5px;
  padding-right: 5px;
}

.reveal pre+p {
  margin-top: 40px;
}

.reveal h3 {
  margin: 0px;
  margin-top: 20px;
  text-shadow: 0;
  font-family: 'Circular Pro Black';
  font-weight: bold;
  line-height: 40px;
  font-size: 20px;
  color: #205081;
}

.reveal section[data-slide-type=header] {
  text-align: center;
}

.reveal section[data-slide-type=header] h1 {
  position: relative;
  top: 120px;
  font-size: 120px;
  line-height: 128px;
  text-align: center;
}

.reveal section[data-slide-type=header] h2 {
  position: relative;
  top: 200px;
  font-family: 'Helvetica';
  font-size: 60px;
  font-weight: normal;
  color: #333;
  text-align: center;
}

.reveal section[data-slide-type=header] h2:before {
  content: "";
  margin: 50px;
}

.reveal section[data-slide-type=group-header] {
  text-align: center;
}

.reveal section[data-slide-type=group-header] h1 {
  position: relative;
  top: 120px;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
}



.reveal p {
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
}

.reveal pre code {
  background-color: #333333;
  border-radius: 5px;
  padding: 15px;
  font-size: 24px;
  line-height: 26px;
}

.reveal table {
  font-size: 24px;
  background-color: #f5f5f5;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid #707070;
}

.reveal table th {
  border: 1px solid #707070;
  padding: 10px;
  border-bottom: 1px solid white;
}

.reveal table td {
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  font-size: 24px;
  padding: 10px;
}

.reveal section p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  border: 0px;
  box-shadow: 0 0 0px;
}

.reveal p > img[src='/resources/types-matrix.png'] {
  height: 585px;
}

.reveal pre {
  box-shadow: 0 0 0px;
}

.reveal code {
  font-family: monospace;
  background-color: #ebf2f9;
  border: 1px solid #3b73af;
  border-radius: 5px;
  padding: 0px 15px;
}

.reveal li {
  margin-left: 20px;
  padding: 5px;
}

.reveal ul {
  list-style-position: inside;
  margin-bottom: 30px;
}


.reveal em {
  font-weight: bold;
  font-style: normal;
  text-decoration: underline; }

.reveal blockquote {
  border: 3px dotted #707070;
  border-radius: 10px;
}

.reveal p.tip {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 25px;
  border: 3px solid #205081;
  background-color: #ebf2f9;
  border-radius: 15px;
  line-height: 20px;
  font-size: 24px;
  padding: 15px;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #205081;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #3983ce;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #112a44; }

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #205081;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #205081; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #205081; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #205081; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #205081; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #3983ce; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #3983ce; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #3983ce; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #3983ce; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  height: 15px;
  background: rgba(0, 0, 0, 0.1);
}

.reveal .progress span {
  background: #205081;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}



